# Javascript
node_modules
dist
lib
build
tsconfig.tsbuildinfo
javascript/*/docs

*.env

**/.switchboard/*
!**/.switchboard/networks/*.config.json
# Python
__pycache__
.pytest_cache

# Rust
programs/**/target
Cargo.lock
.anchor
target
.crates

# Misc
.DS_STORE
.keypairs
secrets
*-keypair*.json
.archive
*-error.log
*-debug.log

# Yarn
**/.yarn